* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

body {
    background: radial-gradient(rgb(48, 48, 48), black);
}


/* Main CSS Start Here */

/* Header */

/* for giving blur affect to header */
header {
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 100px;
    backdrop-filter: blur(50px);
}

/* form (HIRE ME)   */
.header-form .modal-header {
    background: linear-gradient(70deg, #8f0432, #fc0254) !important
}

.header-form .modal-body {
    color: white;
    background-color: rgb(32 32 32);
}

.header-form .modal-body input {
    color: white;
    background-color: #000000;
}


.header-form .modal-body input::placeholder {
    color: grey;
}

.header-form .modal-body textarea,
.header-form .modal-body textarea::placeholder {
    background-color: #000000;
    color: grey;
}

.header-form .modal-footer {
    color: white;
    background-color: rgb(32 32 32);
}

.header-form .modal-footer button {
    background: linear-gradient(70deg, #8f0432, #fc0254) !important
}


/* header Offcanvas  */
.header-offcanvas {
    background-color: rgb(32 32 32);
    max-width: 70%;
}

.header-offcanvas li:hover a {
    transition: all 200ms ease-in-out;
    color: #fc0254 !important;
}

/* header btn with hover 
gradient affect */

.header-btn {
    box-shadow: #fc025466 6px 7px 14px 2px !important;
    background: linear-gradient(70deg, #8f0432, #fc0254) !important
}

.header-btn .text-content:hover {
    background: linear-gradient(90deg, #ff00cc, #3f0a29, #970f0f, #680440);
    background-size: 300% 100%;
    animation: gradient 6s linear infinite;
    font-weight: 700;
}

nav ul li:hover a {
    transition: all 200ms ease-in-out;
    color: #fc0254 !important;
}

/* home page section */

.home-img img{
    border-radius: 20px;
    background: linear-gradient(70deg, #000000, #2c2b2c);
    border: 5px solid rgb(58, 58, 58);
    height: 25rem;
    object-fit: cover;
}

/* For rotating dots animation */
.dots-animation::before {
    content: '';
    position: absolute;
    background: url(../images/Pink_glow.png);
    width: 100%;
    height: 380px;
    top: 0;
    right: 0;
    left: -50px;
    bottom: 0;
    z-index: -1;
    border-radius: 50%;
    animation: rotate 20s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Gradient for text (raiyan matadar) header sec */
.text-content {
    background: linear-gradient(90deg, #ff00cc, #3f0a29, #970f0f, #680440);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 6s linear infinite;
    font-weight: 700;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* About me */

.about-btn .bg-danger {
    background-color: #fc0254 !important;
}

.about-btn .bg-gradient {
    background: linear-gradient(70deg, #8f0432, #fc0254) !important
}

.about-btn:hover .bg-gradient {
    background: linear-gradient(360deg, #8f0432, #fc0254) !important
}


/* Skills*/


.skills {
    background: linear-gradient(135deg, #000000, #505050, #000000);
}

.skills-title .text-content {
    background: linear-gradient(90deg, #ff00cc, #3f0a29, #970f0f, #680440);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 6s linear infinite;
    font-weight: 700;
}

.skills-items {
    border-radius: 20px;
    background: linear-gradient(70deg, #000000, #2c2b2c);
    border: 4px solid rgb(58, 58, 58);
    overflow: hidden;
    padding: 10px;
    margin: 10px -5px;
    width: 100%;
    height: 190px;
    object-fit: contain;
}

.skills-items img {
    width: 7em;
}

/* POrtfolio section */

/* for animation to the portfolio-title */
.portfolio-title .text-content {
    background: linear-gradient(90deg, #d8c8d5, #cd358e, #e3cfcf, #3f112c);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 6s linear infinite;
    font-weight: 700;
}

/* img hover effect */
.portfolio .card img {
    transition: all 200ms ease-in-out;
}

.portfolio .card:hover img {
    transform: scale(1.1);
}

/* styling */
.portfolio .card {
    border: 4px solid rgb(58, 58, 58);
    background-color: rgb(58, 58, 58);
}

.portfolio .card a {
    background: linear-gradient(70deg, #8f0432, #fc0254);
}

.portfolio .card a:hover {
    background: linear-gradient(90deg, #ff00cc, #3f0a29, #970f0f, #680440);
    background-size: 300% 100%;
    animation: gradient 6s linear infinite;
}

.portfolio .card-body {
    height: 16rem;
}

/* Contact */

.contact-us form input,
.contact-us form textarea {
    background-color: #2c2b2ca6;
}

.contact-us form input:focus,
.contact-us form textarea:focus {
    background-color: #2c2b2ca6;
}


.contact-us form input::placeholder,
.contact-us form textarea::placeholder {
    color: #cccccca6;
}